<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- =============================== CONTEXT =============================== -->
    <context-param>
        <description>DATABASE NAME</description>
        <param-name>DbContext</param-name>
        <param-value>ESDweb</param-value>
    </context-param>
    <context-param>
        <description>USERS TABLE</description>
        <param-name>UserContext</param-name>
        <param-value>USERS</param-value>
    </context-param>
    <context-param>
        <description>PATIENTS TABLE</description>
        <param-name>PatientContext</param-name>
        <param-value>PATIENTS</param-value>
    </context-param>
    <context-param>
        <description>STAFFS TABLE</description>
        <param-name>StaffContext</param-name>
        <param-value>STAFFS</param-value>
    </context-param>
    <context-param>
        <description>APPOINTMENTS TABLE</description>
        <param-name>AppointmentContext</param-name>
        <param-value>APPOINTMENTS</param-value>
    </context-param>
    <context-param>
        <description>MEDICATIONS TABLE</description>
        <param-name>MedicationContext</param-name>
        <param-value>MEDICATIONS</param-value>
    </context-param>
    <context-param>
        <description>PRESCRIPTIONS TABLE</description>
        <param-name>PrescriptionContext</param-name>
        <param-value>PRESCRIPTIONS</param-value>
    </context-param>
    <!-- =============================== FILTER ================================ -->
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- ============================== LISTENER =============================== -->
    <listener>
        <description>ServletContextListener</description>
        <listener-class>controler.BaseListener</listener-class>
    </listener>
    <!-- =============================== SERVLET =============================== -->
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>controler.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>controler.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controler.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>controler.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionServlet</servlet-name>
        <servlet-class>controler.ActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>controler.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewController</servlet-name>
        <servlet-class>controler.AdminViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSelectUserController</servlet-name>
        <servlet-class>controler.AdminSelectUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSelectPrescriptionController</servlet-name>
        <servlet-class>controler.AdminSelectPrescriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSelectAppointmentController</servlet-name>
        <servlet-class>controler.AdminSelectAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSelectAproveStaffController</servlet-name>
        <servlet-class>controler.AdminSelectAproveStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminActionAproveStaffController</servlet-name>
        <servlet-class>controler.AdminActionAproveStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffViewController</servlet-name>
        <servlet-class>controler.StaffViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSelectRefilController</servlet-name>
        <servlet-class>controler.StaffSelectRefilController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSelectPrescriptionController</servlet-name>
        <servlet-class>controler.StaffSelectPrescriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffActionPrescriptionController</servlet-name>
        <servlet-class>controler.StaffActionPrescriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSelectAppointmentController</servlet-name>
        <servlet-class>controler.StaffSelectAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffActionApointmentController</servlet-name>
        <servlet-class>controler.StaffActionApointmentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/SignOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionServlet</servlet-name>
        <url-pattern>/ActionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/BookingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewController</servlet-name>
        <url-pattern>/AdminViewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSelectUserController</servlet-name>
        <url-pattern>/AdminSelectUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSelectPrescriptionController</servlet-name>
        <url-pattern>/AdminSelectPrescriptionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSelectAppointmentController</servlet-name>
        <url-pattern>/AdminSelectAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSelectAproveStaffController</servlet-name>
        <url-pattern>/AdminSelectAproveStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminActionAproveStaffController</servlet-name>
        <url-pattern>/AdminActionAproveStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffViewController</servlet-name>
        <url-pattern>/StaffViewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSelectRefilController</servlet-name>
        <url-pattern>/StaffSelectRefilController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSelectPrescriptionController</servlet-name>
        <url-pattern>/StaffSelectPrescriptionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffActionPrescriptionController</servlet-name>
        <url-pattern>/StaffActionPrescriptionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSelectAppointmentController</servlet-name>
        <url-pattern>/StaffSelectAppointmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffActionApointmentController</servlet-name>
        <url-pattern>/StaffActionApointmentController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
    <!-- =============================== WELCOME =============================== -->
    <welcome-file-list>
        <welcome-file>view/jsp/pages/LoginPage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
